/* Set default styles for body and html */
body, html {
  height: 100%;
}

/* Set background image and full height */
/* .bg {
  background-image: url("https://4kwallpapers.com/images/walls/thumbs_3t/1623.jpeg");
  height: 100vh; 
  width: 100%;
  filter: blur(0px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

/* Add background color and set minimum height */
.bg-color {
  background-color: darkgray;
  min-height: 100vh; /* use viewport height to ensure background fills full screen */
}

/* Add red background color for test purposes */
.test-bg {
  background-color: red;
}

/* Set up loader container */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.0);
  z-index: 1;
}

/* Center and indent text */
h1 {
  text-align: center;
  text-indent: 50px;
}

/* Set minimum height for text container */
.text-center{
  min-height: 80rem; /* use viewport height to ensure text container fills at least half the screen */
}

/* Set up spinner animation */
.spinner {
  width: 64px;
  height: 64px;
  align-items: center;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

/* Set up keyframes for spinner animation */
@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

/* Add media query to adjust styles for smaller screens */
@media screen and (max-width: 768px) {
  /* Reduce text indent for smaller screens */
  h1 {
    text-indent: 30px;
  }
  
  /* Adjust width of loader container for smaller screens */
  .loader-container {
    width: 80%;
  }
}
