.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://4kwallpapers.com/images/walls/thumbs_3t/8671.jpg');
  background-size: cover;
  background-position: center;
}

.login-card {
  width: 600px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  background-color: #fff;
}

.login-card-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: x-large;
}

.login-form {
  margin-top: 20px;
}

.login-form-label {
  font-size: 16px;
}

.login-form-input {
  font-size: 16px;
  margin-bottom: 10px;
}

.login-form-submit {
  margin-top: 20px;
  width: 100%;
}