/* Set default font size */
body {
    font-size: 16px;
}

/* Change font size for screens smaller than 768px */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    height: 3rem;
    background: linear-gradient(-180deg,#3f4958,rgb(45, 45, 45));
    transition: transform .2s cubic-bezier(.4,0,.2,1);
}

/* Navbar container */
.container-wrapper {
    min-width: 320px; /* set minimum width */
    max-width: 1200px; /* set maximum width */
    margin: 0 auto; /* center container */
}

/* Navbar links */
.navbar__links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 2.125rem;
}

.navbar__link {
    display: flex;
    align-items: center;
    height: 45px;
    padding: 0 10px;
    text-decoration: none;
    color: #fff;
}

/* Add hover effect for links */
.navbar__link:hover {
    background: linear-gradient(-180deg,#141414,rgba(45, 45, 45, 0.0));
    padding: 0 20px;
    font-size: 105%;
    transition: 0.5s;
}

/* Add media queries for different screen sizes */
@media (max-width: 1200px) {
    .container-wrapper {
        max-width: 960px; /* reduce max width */
    }
}

@media (max-width: 992px) {
    .container-wrapper {
        max-width: 720px; /* reduce max width */
    }
}

@media (max-width: 768px) {
    .container-wrapper {
        max-width: 540px; /* reduce max width */
    }
    .navbar__link {
        padding: 0 5px; /* reduce padding for links */
    }
}

@media (max-width: 576px) {
    .navbar__link {
        padding: 0 2px; /* reduce padding for links */
    }
}
