/* input[type="text"],
input[type="email"],
input[type="password"] {
  height: 38px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  background: #a7afad;
  border: 1px solid #a7afad;
  color: #000000;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background: #000000;
  color: #fcfcfc;
}

.Button__container {
  display: flex;
  justify-content: center;
}

.Register__form {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.Register__title {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
}

.Register__container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.error-message {
  font-size: 0.7rem;
  font-weight: 500;
  color: red;
  margin-top: 0.2rem;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}



@media only screen and (max-width: 767px) {
  .Register__form {
    padding: 1rem;
  }

  .Register__title {
    font-size: 20px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="submit"] {
    width: 100%;
  }

  input[type="submit"] {
    padding: 8px 16px;
  }

  .Register__container {
    margin: 5px;
  }
}



@media only screen and (min-width: 768px) {
  .Register__form {
    width: 50%;
    margin: 0 auto;
  }
} */

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 300px) {
  .h-custom {
  height: 80%;
  }
}