input[type="text"],input[type="email"],
  input[type="password"] {
    height: 38px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #a7afad;
    border: 1px solid #a7afad;
    color: #000000;
    padding: 10px 20px;
  }
  
  input[type="submit"]:hover {
    background: #000000;
    color: #fcfcfc;
  }
  
  .Button__container {
    display: flex;
    justify-content: center;
  }
  
  .Register__form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
  }
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .Register__title {
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .Register__container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }

  .error-message{
    font-size: 0.7rem;
    font-weight: 500;
    color: red;
    margin-top: 0.2rem;
  }

  .centered{
    display: flex;
    justify-content: center;
    align-items: center;
  }