
.App {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #f8f9fd;
}


/* @media (max-width: 768px) {
  .App {
    gap: 10px;
  }
}

@media (max-width: 576px) {
  .App {
    gap: 5px;
  }
} */